body{
    font-family: Britannic Bold, Helvetica, sans-serif;
    background-color:black;
}
*{
    box-sizing:border-box;
}
.container{
    padding:16;
    background-color:white;
}
input[type=text], input[type=password]{
    width:100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display:inline-block;
    border:none;
    background:#ECBFB6;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: #EEECB5;
    outline:none;
}
.registerbtn{
    background-color: #B5C7EE;
    color:white;
    padding:16px 20px;
    margin:8px, 0;
    border:none;
    cursor:pointer;
    width:100%;
    opacity:0.9;
}
.registerbtn:hover{
    opacity:1;
}
a{
    color:dodgerblue;
}
.signin{
    background-color:#f1f1f1;
    text-align:center;
    padding: 15px;
    margin:15px;
}