body{
background-color:#8a7ce6;
}
#G1{
text-align:center;
font-size:80px;
color:#67b3d6;
font-family:Embassy BT;
font-weight;
}


#div1{
margin-lift:180px
}
#imag1{
width:20%;
margin-left:10px;
}
#imag2{
width:20%;
margin-left:10px;
}
#imag3{
width:20%;
margin-left:10px;
}
#imag4{
width:20%;
margin-left:10px;
}

#div2{
color:#4a3d6b;
font-family:impact;
text-align:justify}