/* header  */
.header__container {
    display: flex;
    align-items: center;
    margin-top: 73px;
}

.site-logo {
    margin-right: 80px;
    transition: 0.2s ease;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.5;
}

.header__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-white);
    margin-right: 40px;
    transition: 0.2s ease;
}

.header__link:hover {
    color: var(--main-coral);
}

.navbar {
    display: flex;
}

.contact-link {
    margin-left: auto;
    color: var(--main-white);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 10px 32px;
    border: 2px solid #FFFFFF;
    transition: 0.2s ease;
}

.contact-link:hover {
    background-color: var(--main-white);
    color: var(--second-dark-green);
    border-radius: 24px;
    box-sizing: border-box;
}

/* ready start  */
.ready {
    background-image: url(../images/ready-bg-img.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% - 670px) bottom;
    padding: 76px 0;
    background-color: var(--main-coral);
}

.ready__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ready__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--second-state-green);
}

.ready__link {
    box-sizing: border-box;
    border-radius: 24px;
    padding: 10px 32px;
    border: 2px solid var(--second-state-green);
    color: var(--second-state-green);
    transition: 0.2s ease;
}

.ready__link:hover {
     color: var(--main-white);
     background-color: var(--second-state-green);
     border: 2px solid #012F34;
     box-sizing: border-box;
     border-radius: 24px;
}
/* ready end  */



/* footer-desktop start */
.footer {
    background-color: var(--second-dark-green);
    padding: 48px 55px;
}

.footer__container {
    display: flex;
}

.footer__links {
    margin-right: 125px;
}

.footer__site-logo {
    margin-bottom: 25px;
}

.footer__mini-link {
    color: var(--main-white);
    font-size: 18px;
    line-height: 28px;
    margin-right: 40px;
    transition: 0.2s ease;
    font-weight: 600;
}

.footer__mini-link:hover {
    color: #F67E7E;
}

.footer__info {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-white);
    opacity: 0.6;
}

.footer__right {
    margin-left: auto;
}

.footer__icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 53px;
    margin-left: -15px;

}

.footer__icon {
    color: var(--main-white);
    margin-left: 16px;
    transition: 0.2s ease;
}

.footer__icon:hover {
    cursor: pointer;
    color: var(--main-coral);
}

.footer__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-white);
    text-align: right;
    opacity: 0.6;
}
/* footer desktop end */



/* footer tablet start  */
.footer__md {
    background-color: var(--second-dark-green);
    padding: 56px 56px;
    display: none;
}

.footer__md-all {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer__md-logo {
    margin-bottom: 53px;
}

.footer__md-mini-links {
    margin-bottom: 33px;
}

.footer__md-mini-link {
    color: var(--main-white);
    font-size: 15px;
    line-height: 25px;
    margin-right: 24px;
    transition: 0.2s ease;
    font-weight: 600;
}

.footer__md-mini-link:hover:hover {
    color: #F67E7E;
}

.footer__md-icon {
    color: var(--main-white);
    margin-right: 16px;
    transition: 0.2s ease;
}

.footer__md-icon:hover {
    cursor: pointer;
    color: var(--main-coral);
}

.footer__md-info {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-white);
    text-align: right;
    opacity: 0.6;
}

.footer__md-information {
    margin-bottom: 34px;
    margin-right: 0;
}
/* footer tablet end  */


/* footer for mobiles  */
.footer__mb {
    background-color: var(--second-dark-green);
    padding: 65px 65px;
    display: none;
}

.footer__mb-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.footer__mb-logo {
    margin-bottom: 24px;
}

.footer__mb-mini-links {
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
}

.footer__mb-mini-link {
    color: var(--main-white);
    font-size: 15px;
    line-height: 25px;
    margin-left: 12px;
    margin-right: 12px;
    transition: 0.2s ease;
}

.footer__mb-mini-link:hover:hover {
    color: var(--main-coral);
}

.footer__mb-icons {
    margin-bottom: 18px;
}

.footer__mb-icon {
    color: var(--main-white);
    margin-right: 16px;
    transition: 0.2s ease;
}

.footer__mb-icon:hover {
    cursor: pointer;
    color: var(--main-coral);
}

.footer__mb-information {
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-white);
    opacity: 0.6;
}

.footer__mb-text {
    font-size: 15px;
    line-height: 25px;
    color: var(--main-white);
    opacity: 0.6;
}

/* for tablets  */
@media only screen and (max-width: 1024px) {
    /* header  */
    .header__logo {
        width: 127px;
        height: 32px;
    }

    .site-logo {
        margin-right: 48px;
    }
}