:root {
    --main-green: #014E56;
    --main-coral: #F67E7E;
    --main-white: #FFFFFF;

    --second-light-blue: #79C8C7;
    --second-police-blue: #2C6269;
    --second-deep-blue: #004047;
    --second-state-green: #012F34;
    --second-dark-green: #002529;
}